* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav {
  background-color:#129434;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: #41c464;
}

.nav li:hover {
  background-color: #59cf78;
}

/*.background {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: none;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}
.hero {
  margin: 0px 120px;
  margin-top: 270px;
}
.hero-text {
  color: #fff;
  font-size: 110px;
  font-weight: 500px;
  line-height: 130px;
}
.hero-explore {
  display: flex;
  align-items: center;
  gap: 50px;
  width: fit-content;
  margin-top: 70px;
  padding: 5px 8px;
  padding-left: 30px;
  border-radius: 60px;
  background-color: white;
  cursor: pointer;
}
.hero-explore p {
  font-size: 20px;
  font-weight: 500;
}
.hero-dot-play {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}
.hero-dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7.5px;
  cursor: pointer
}
.hero-dot.green {
  background: green;
}*/
.kite-hero-content{
  position: relative;
  top: 70px;
  width: 800px;
  height: 300px;
}
.background{
  width: 100%;
  height: 300px;
  object-fit: cover;
  z-index: -1;
}
.hero{
  position: absolute;
  bottom: 0;
}
.hero-dot-play {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}
.hero-dot {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 7.5px;
  cursor: pointer
}
.hero-dot.green {
  background: green;
}